.signup {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  height: auto;
  margin-top: 2%;
  /* display: none; */
}
.signupTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupTitle h1 {
  color: #444;
  font-size: 1.8rem;
}
.errorMessage {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.nameInput {
  width: 380px;
  height: 45px;
  border-radius: 55px;
  background-color: #f0f0f0;
  padding: 0 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nameInput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #333;
}
.emailInput {
  width: 380px;
  height: 45px;
  border-radius: 55px;
  background-color: #f0f0f0;
  padding: 0 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.emailInput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #333;
}
.emailInput input::placeholder {
  color: #888;
}

.passwordInput {
  width: 380px;
  height: 45px;
  border-radius: 55px;
  background-color: #f0f0f0;
  padding: 0 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.passwordInput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #333;
}
.passwordInput input::placeholder {
  color: #888;
}
.signupButton {
  margin-top: 20px;
  width: 10vw;
  height: 45px;
  border-radius: 55px;
  background-color: #286a6f;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.forgotPassword {
  margin-top: 10px;
  color: #286a6f;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
.orSeparator {
  margin-top: 20px;
}
.orSeparator span {
  color: #000000;
  font-size: 1.1rem;
}

.socialLogin {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.socialIcon:hover {
  transform: scale(1.1);
}
.socialIcon img {
  width: 60%;
  height: 60%;
}

/*---------------responsive part-----------------*/
@media screen and (max-width: 768px) {
  .signup {
    margin-top: 5%;
  }
  .signupTitle h1 {
    font-size: 1.5rem;
  }
  .emailInput,
  .passwordInput,
  .nameInput {
    width: 90%;
  }
  .signupButton {
    width: 80%;
  }
}
