.progressCard {
  border: 0.8px solid #d9d9d9;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.progressTop {
  /* border: 1px solid green; */
  flex: 0.6;
  display: flex;
}
.progressTopLeft {
  /* border: 1px solid yellow; */
  flex: 0.2;
  display: flex;
}
.progressImage {
  width: 75px;
  height: 75px;
  /* border: 1px solid red; */
  border-radius: 13px;
}
.progressImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.progressTopRight {
  /* border: 1px solid purple; */
  position: relative;
  flex: 0.8;
  /* display: flex; */
}
.progressTopRight h4 {
  font-size: 16px;
}
.progressTopRight p {
  font-size: 14px;
  color: #374151;
  margin-top: 10px;
}
.progressBars {
  width: 88%;
  margin-top: 15px;
  /* border: 1px solid red; */
  position: relative;
}
.emptyProgressBar {
  width: 100%;
  max-width: 100%;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 10px;
  position: absolute;
}
.filledProgressBar {
  /* width: 70%; */
  /* max-width: 70%; */
  height: 8px;
  background-color: #3b82f6;
  border-radius: 10px;
  position: absolute;
}
.progressText {
  position: absolute;
  left: 90%;
  top: 52%;
  margin-left: 1px;
  font-size: 14px;
  color: #374151;
}

.progressBottom {
  /* border: 1px solid blue; */
  flex: 0.4;
  display: flex;
}
.progressBottom p {
  font-size: 14px;
  color: #374151;
  margin-top: 20px;
}
.progressBottom button {
  width: 168px;
  height: 35px;
  border-radius: 8px;
  background-color: #0859c3;
  color: white;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 10px;
}
.progressBottom button:hover {
  background-color: #0a6edb;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Mobile screen sizing */
@media (min-width: 360px) and (max-width: 500px) {
  .progressCard {
    padding: 0;
    /* height: 400px; */
  }
  .progressTop {
    flex: 0.8;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .progressTopLeft {
    flex: 0.6;
  }
  .progressImage {
    width: 100%;
    height: 100%;
  }
  .progressImage img {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .progressTopRight {
    flex: 0.4;
    padding-left: 10px;
    padding-right: 10px;
  }
  .progressTopRight h4 {
    margin-top: 10%;
  }
  .progressBars {
    width: 85%;
  }
  .progressText {
    top: 68px;
    left: 85%;
    font-size: 13px;
  }
  .progressBottom {
    /* border: 1px solid purple; */
    flex: 0.2;
    display: flex;
    align-items: center;
  }
  .progressBottom p {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    /* border: 1px solid red; */
    font-size: 13px;
    width: 80%;
  }
  .progressBottom button {
    font-size: 14px;
    width: 160px;
    height: 30px;
    margin-right: 10px;
  }
}
