.navbar {
  display: flex;
  /* border-bottom: 1px solid red; */
  border-bottom: 0.8px solid #d9d9d9;
  height: 70px;
  padding-left: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  /* padding-right: 20px; */
  /* width: 100%; */
}

.logo {
  flex: 0.194;
  /* border-bottom: 0.8px solid #d9d9d9; */
}
.logo img {
  width: 60%;
  height: 100%;
  object-fit: contain;
}

.middleChildren {
  flex: 0.54;
  display: flex;
}

.accountInfo {
  /* border-bottom: 0.8px solid #d9d9d9; */
  /* border-left: 0.8px solid #d9d9d9; */
  flex: 0.26;
  display: flex;
  /* justify-content: space-between; */
}

.bell {
  position: relative;
  padding-top: 6%;
  /* border: 1px solid red; */
  width: 45px;
}
.bell span {
  position: absolute;
  color: #ffffff;
  width: 12px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  background-color: #f21e1e;
  border-radius: 50%;
  left: 55%;
}
.bell svg {
  width: 30px;
  height: 27px;
}

.profileImage {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  align-self: center;
  border: 1px solid #d9d9d9;
}
.profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profileText {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 20px;
}
.profileText h3 {
  font-size: 18px;
}
.profileText p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.62);
}
.profileHealth {
  margin-left: 30px;
  align-self: center;
}
.profileHealth svg:hover {
  color: rgb(20, 20, 20);
  cursor: pointer;
}

/* Responsive design mobile */

@media (min-width: 360px) and (max-width: 500px) {
  .navbar {
    border-bottom: 1px solid #d9d9d9;
    height: 70px;
    border-bottom: none !important;
  }
  .profileText {
    display: none;
  }
  .profileHealth {
    display: none;
  }
  .profileImage {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .bell span {
    margin-top: -28px;
    /* margin-left: -2px; */
  }
  .bell svg {
    margin-top: 10px;
    margin-left: 5px;
  }
  .logo {
    flex: 0.5;
    border-right: none !important;
    margin-left: 10px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
  .navbar {
    padding-left: 10px;
  }
  .menuIcon {
    align-self: center;
    flex: 0.1;
    /* border: 1px solid green; */
    height: 50%;
  }
  .menuIcon:hover {
    cursor: pointer;
  }
  .accountInfo {
    flex: 0.4;
  }
}

@media (min-width: 510px) {
  .bell span {
    margin-top: -30px;
  }
}
