* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

svg:hover {
  cursor: pointer;
}

.adminCourses {
  background-color: #efefef;
  height: auto;
  width: 99.2vw;
  /* border: 1px solid red; */
}
.adminCoursesContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  /* padding: 15px; */
  display: flex;
  /* border: 1px solid blue; */
  gap: 10px;
}
.adminCoursesLeft {
  flex: 0.2;
  /* border: 1px solid green; */
  overflow: hidden;
}
.adminCoursesRight {
  flex: 0.8;
  /* border: 1px solid yellow; */
}

.createBtns {
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
  height: auto;
}
.coursesBtn {
  height: 40px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: 17px;
  color: #25cec0;
  background-color: #ffffff;
  border: 1px solid #25cec0;
  font-weight: 500;
}
.coursesBtn:hover {
  cursor: pointer;
}

.createCourseBtn {
  height: 40px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: 17px;
  color: #25cec0;
  background-color: #ffffff;
  border: 1px solid #25cec0;
  font-weight: 500;
}
.createCourseBtn:hover {
  cursor: pointer;
}
.btnActive {
  color: #ffffff;
  background-color: #25cec0;
}

.coursesSection {
  /* border: 1px solid red; */
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 13vh;
}
.coursesSectionHeader {
  flex: 0.1;
  /* border: 1px solid green; */
}
.coursesSectionHeader p {
  color: #000000;
  font-size: 17px;
}
.coursesSectionBody {
  flex: 0.9;
  /* border: 1px solid blue; */
}
.coursesContainer {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  /* border: 1px solid yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.course {
  /* width: 240px; */
  height: auto;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.courseTop {
  flex: 0.5;
  /* border-bottom: 1px solid red; */
}
.courseTopContainer {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.courseTop img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.courseBottom {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 5px;
}

.level p {
  background-color: #e4fde5;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  color: #14a24f;
  width: fit-content;
}
.title p {
  font-size: 13px;
}
.rating {
  display: flex;
}
.rating span {
  display: flex;
}
.rating p {
  font-size: 13px;
  margin-left: 5px;
}
.time p {
  font-size: 13px;
  color: #be0c77;
  font-weight: 500;
}

.lessonsAndStudents {
  display: flex;
  gap: 15px;
}
.lessons {
  display: flex;
  gap: 5px;
}
.lessons p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.students {
  display: flex;
  gap: 5px;
}
.students p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

/* create course section---------------------------------------------- */

.createCourse {
  /* border: 1px solid red; */
  margin-top: 13vh;
  height: 180vh;
}
.createCourseHeader {
  display: flex;
  height: 13vh;
  /* border: 1px solid green; */
}
.createCourseHeaderLeft {
  flex: 0.5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.createCourseHeaderLeft h3 {
  font-size: 18px;
  color: #1f2937;
}
.createCourseHeaderLeft p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.createCourseHeaderRight {
  flex: 0.5;
  /* border-left: 1px solid green; */
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
}
.previewBtn {
  display: flex;
  align-items: center;
  background-color: #e5e7eb;
  height: 40px;
  padding: 0px 20px;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  gap: 10px;
}
.previewBtn:hover {
  cursor: pointer;
}
.saveDraftBtn {
  height: 40px;
  display: flex;
  align-items: center;
  background: #0965b1;
  border-radius: 6px;
  color: #ffffff;
  gap: 10px;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
}
.saveDraftBtn:hover {
  cursor: pointer;
}
.publishBtn {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: #ffffff;
  gap: 10px;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  background-color: #14a24f;
}
.publishBtn:hover {
  cursor: pointer;
}

.createCourseType {
  height: 30vh;
  background-color: #ffffff;
  padding: 20px;
  width: 99%;
}
.createCourseType h4 {
  font-size: 18px;
}
.createCourseTypeBody {
  display: flex;
  /* border: 1px solid red; */
  height: 70%;
  margin-top: 20px;
  gap: 15px;
}
.typeLeft {
  flex: 0.5;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  gap: 10px;
}
.typeLeft:hover {
  cursor: pointer;
}
.typeRight {
  padding: 20px;
  display: flex;
  flex: 0.5;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  gap: 10px;
}
.typeRight:hover {
  cursor: pointer;
}
.indicatorBody {
  flex: 0.1;
  /* border: 1px solid red; */
}
.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
}
.indicator span {
  width: 80%;
  height: 80%;
  background-color: #535ae5;
  border-radius: 50%;
}
.isIndicatorActive {
  border: 1px solid #535ae5;
}
.isTypeActive {
  border: 1px solid #535ae5;
  background-color: #eff6ff;
}
.typeBody {
  /* border: 1px solid blue; */
  flex: 0.9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.typeTitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.typeText {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  width: 80%;
}

/*video course*/

.createCourseBody {
  margin-top: 20px;
  height: auto;
  padding-bottom: 30px;
  background-color: #ffffff;
  width: 99%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.createHeader {
  display: flex;
  /* flex: 0.1; */
  height: 8vh;
  border-bottom: 1px solid #d9d9d9;
  gap: 15px;
  align-items: center;
  /* padding-left: 20px; */
}
.createHeader p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  height: 100%;
  text-align: center;
  padding-top: 13px;
  width: 10vw;
}
.createHeader p:hover {
  cursor: pointer;
}
.activeTab {
  /* padding: 5px; */
  border-bottom: 2px solid #0965b1;
  border-bottom-left-radius: 5px;
  color: #0965b1;
  border-bottom-right-radius: 5px;
}

.videoCourse {
  flex: 0.9;
  /* border: 1px solid green; */
}

.videoForm {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  gap: 20px;
  /* border: 1px solid yellow; */
  padding: 10px;
}
.videoFormLeft {
  /* border: 1px solid black; */
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.titleInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.titleInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.titleInput input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.descriptionInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.descriptionInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.descriptionInput textarea {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  height: 20vh;
}
.courseCategoryAndDifficulty {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.courseCategory {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.courseCategory label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.courseCategory select {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  /* padding-right: 10px; */
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.courseDifficulty {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.courseDifficulty label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.courseDifficulty select {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  /* padding-right: 10px; */
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.courseObjectives {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.courseObjectives p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.courseObjectivesInput {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.courseObjectivesInput input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.courseObjectivesInput input:focus {
  box-shadow: rgba(11, 142, 250, 0.2) 0px 2px 8px 0px;
  border: 1px solid #535ae5;
}
.addObjectiveBtn {
  width: 20vw;
  /* background-color: none; */
  /* border: none; */
  color: #0965b1 !important;
  display: flex;
  align-items: center;
}
.addObjectiveBtn:hover {
  cursor: pointer;
}

.videoFormRight {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  /* border: 1px solid blue; */
  padding: 20px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.thumbnail p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.thumbnailInput {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 49vh;
  width: 100%;
  border: 2px dashed #d9d9d9;
  border-radius: 8px;
}
.thumbnailInput img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}
.thumbnailInput label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 5px;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}
.thumbnailInput label:hover {
  cursor: pointer;
}
.thumbnailInput input {
  display: none;
}
.courseDuration {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.courseDuration label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.courseDuration input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 15px !important;
  padding: 10px;
  outline: none;
}

/*----------- video form content *-----------------*/

.videoContent {
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
  gap: 15px;
}

.videoContentHeader {
  height: 10vh;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.videoContentHeader h3 {
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.addSectionBtn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535ae5;
  font-size: 15px;
  color: #ffffff;
  gap: 3px;
  height: fit-content;
  border-radius: 5px;
}
.addSectionBtn:hover {
  cursor: pointer;
  background-color: #4349d4;
}

/* .videoContentBody {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */
.videoContentBody form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sectionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 10px;
  background-color: #f3f4f6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #d9d9d9;
}
.sectionTopLeft {
  display: flex;
  gap: 10px;
}
.sectionTopLeft p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
}
.sectionTopRight {
  display: flex;
  gap: 3px;
}
.sectionTopRight:hover {
  cursor: pointer;
}

.sectionMiddle {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.lesson {
  display: flex;
  height: 8vh;
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}
.lessonLeft {
  display: flex;
  align-items: center;
}
.lessonLeft p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
}
.lessonRight {
  display: flex;
  align-items: center;
  gap: 5px;
}
.lessonRight p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.sectionBottom {
  padding: 10px;
}
.sectionBottom p {
  display: flex;
  align-items: center;
  color: #0965b1;
  font-size: 15px;
}
.sectionBottom p:hover {
  cursor: pointer;
  color: #2b31a1;
}

.dimPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 200vh;
}

/* add section form */

.addSectionForm {
  position: fixed;
  top: 20%;
  right: 20%;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: auto;
  width: 60vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.addSectionFormHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d9d9d9;
  padding: 10px;
  display: flex;
  /* justify-content: center; */
}
.addSectionFormHeader p {
  color: rgba(0, 0, 0, 0.7);
  flex: 0.9;
}
.addSectionFormHeader svg {
  flex: 0.1;
  color: #3a3a3a;
}
.addSectionFormHeader svg:hover {
  cursor: pointer;
}
.addSectionFormBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.addSectionFormBody label {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.addSectionFormBody input {
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 10px;
}
.addSectionButton {
  display: flex;
  justify-content: center;
}
.addSectionButton button {
  border-radius: 8px;
  margin-top: 15px;
  height: auto;
  padding: 10px;
  background-color: #0965b1;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.addSectionButton button:hover {
  cursor: pointer;
  background-color: #010ef7;
}

.addLessonForm {
  position: fixed;
  top: 10%;
  right: 20%;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: 80vh;
  width: 60vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.addLessonFormHeader {
  display: flex;
  position: fixed;
  width: 59.9vw;
  background-color: #d9d9d9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}
.addLessonFormHeader p {
  flex: 0.9;
  color: rgba(0, 0, 0, 0.7);
}
.addLessonFormHeader svg {
  flex: 0.1;
}
.addLessonFormHeader svg:hover {
  cursor: pointer;
}
.addLessonFormBody {
  overflow-y: scroll;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.lessonTitle {
  display: flex;
  flex-direction: column;
}
.lessonTitle label {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.lessonTitle input {
  outline: none;
  border: 1px solid #d9d9d9;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
.lessonDescription {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.lessonDescription label {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.lessonDescription textarea {
  border: 1px solid #d9d9d9;
  font-size: 15px;
  padding: 10px;
  height: 20vh;
  margin-top: 10px;
  border-radius: 8px;
  outline: none;
}
.lessonUpload {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px;
}
.lessonUploadTitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.lessonUploadBody {
  margin-top: 20px;
  border: 1px dashed #d9d9d9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .lessonUploadBodyTop {
} */
.lessonUploadBodyMiddle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.lessonUploadBodyMiddle p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.lessonUploadBodyMiddle span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.lessonUploadBodyBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.lessonUploadBodyBottom label {
  padding: 10px;
  background-color: #0965b1;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
}
.lessonUploadBoyBottomd label:hover {
  cursor: pointer;
  background-color: #010ef7;
}
.lessonUploadBodyBottom input {
  display: none;
}
.lessonUploadBodyBottom p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.addLessonBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.addLessonBtn button {
  padding: 10px;
  background-color: #14a24f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.addLessonBtn button:hover {
  cursor: pointer;
  background-color: #0e8c3a;
}

/*--------------------Course Settings---------------------------------*/
.courseSettings {
  height: 90vh;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  gap: 20px;
}
.courseSettingsLeft {
  flex: 0.5;
}
.seoFormTitle {
  color: rgba(0, 0, 0);
  margin-top: 10px;
}
.seoFormBody {
  /* border: 1px solid red; */
  margin-top: 20px;
}
.seoFormBody form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid blue; */
  padding: 0;
}
.metaTitleInput {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.metaTitleInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}
.metaTitleInput input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.metaDescriptionInput {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.metaDescriptionInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}
.metaDescriptionInput textarea {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  height: 20vh;
}

.visibilityTitle {
  margin-top: 10vh;
}
.visibilityTitle h3 {
  color: rgba(0, 0, 0);
}
.visibilityTitle p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  margin-top: 10px;
}
.visibilityInput {
  margin-top: 10px;
}
.visibilityInput select {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 50%;
  padding: 10px;
  /* padding-right: 10px; */
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

/*Instructor information*/
.courseSettingsRight {
  flex: 0.5;
  /* border: 1px solid blue; */
}
.instructorInformationTitle {
  margin-top: 10px;
}
.instructorInformationTitle h3 {
  color: rgba(0, 0, 0);
}
.instructorInformationBody {
  margin-top: 20px;
  border: 1px solid #f3f4f6;
  padding: 10px;
  border-radius: 5px;
  height: 70vh;
}
.instructorProfile {
  display: flex;
  height: 12vh;
  gap: 20px;
  /* border: 1px solid green; */
}
.instructorProfileLeft {
  flex: 0.16;
  border-radius: 50%;
  /* border: 1px solid red; */
}
.instructorProfileLeft img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.instructorProfileRight {
  flex: 0.7;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.instructorProfileRight h2 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.instructorProfileRight p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.instructorForm {
  /* border: 1px solid red; */
  width: 100%;
  padding: 0;
  margin-top: 20px;
}
.instructorForm form {
  /* border: 1px solid blue; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.displayNameInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.displayNameInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}
.displayNameInput input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.bioForCourseInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.bioForCourseInput label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}
.bioForCourseInput textarea {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  height: 20vh;
}
